{{ define "tweet" }}
{{ $tweet := . }}
<div>
  <p class="tweetBody">
    {{ $tweet.Tweet.Text }}
  </p>
  <div class="tweetFooter">
    <div class="tweetIds">
      <span class="tweetId">
        IPFS: <a class="tweetIdLink" href="#">{{ $tweet.Cid }}</a>
      </span>
      <span class="tweetId">
        DCRtime digest: <a class="tweetIdLink" href="#">{{ $tweet.Digest }}</a>
      </span>
    </div>
    <div class="tweetShowReplies">
      <a href="#">
        show full thread
      </a>
    </div>
  </div>
</div>
{{end}}